<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <title>OcrApp</title>
</head>

<body>
    {{data}}

    <button type="button" class="btn btn-primary btn-lg" name="ocr-btn" id="ocr-btn" style=" position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;width:250px;height:250px;font-size:40px;">record</button>

</body>

</html>